<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="kiralama.css">
	<!-- <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet"> -->
	<title>Payment Gateway</title>
</head>
<body>
	<div class="container">
		<h1>Payment Gateway</h1>
		<div class="wrapper">
			<div>
				<img src="img/payment.png">
			</div>
			<div>
				<form class="payment-form">
					<input type="name" name="" class="firstname" placeholder="first name" required>
					<input type="name" name="" class="lastname" placeholder="last name"><br>
					<input type="email" name="" class="email" placeholder="email@payment.com" required><br>
					<textarea class="address" placeholder="address" required></textarea><br>
					<input type="name" name="" class="nameoncard" placeholder="name on card" required><br>
					<input type="text" name="" class="card" placeholder="aaaa bbbb cccc dddd" required>
					<input type="password" name="" class="cvv" maxlength="3" placeholder="cvv" required><br>
					<input type="submit" name="" value="Pay" class="pay-btn">
				</form>
			</div>
		</div>
		<!-- <h4>100% Secured Payment</h4> -->
	</div>
</body>
</html>