/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
body{
    background: #f8f8ff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    position: fixed;
    top: 5%;
    left: 35%;
}
/*h4{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: #fff;
    background: green;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}*/
img{
    position: fixed;
    top: 20%;
    left: 2%;
    height: auto;
    width: 500px;
}
input{
    margin-right: 8px;
    outline: none;
    border: none;
    background: #f0f0f0;
    height: 2.5rem;
    width: 15rem;
    border-radius: 8px;
    padding-left: 1rem;
}
textarea{
    outline: none;
    border: none;
    background: #f0f0f0;
    width: 30.7rem;
    height: 5rem;
    border-radius: 8px;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: .5rem;
    resize: none;
}
.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    width: 70rem;
    height: 35rem;
    box-shadow: rgba(149, 157, 165, 0.03) 0px 8px 24px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.payment-form{
    position: fixed;
    top: 20%;
}
.firstname{
    margin-bottom: 1rem;
}
.email{
    width: 30.7rem;
    margin-bottom: 1rem;
}
.nameoncard{
    width: 30.7rem;
    margin-bottom: 1rem;
}
.card{
    width: 22rem;
}
.cvv{
    width: 8rem;
    margin-bottom: 1rem;
}
.pay-btn{
    background: #8775f5;
    color: #fff;
    width: 30.7rem;
    font-weight: 800;
}
.pay-btn:active{
    transform: translateY(2px);
}
.pay-btn:hover{
    box-shadow: rgba(149, 157, 165, 0.03) 0px 8px 24px;
}
/*.address{
    width: 30.7rem;
    height: 10rem;
}*/
/*@media(prefers-color-scheme: dark){
    body{
        background: #06021a;
    }
    .container{
        background: #21212e;
    }
    input{
        background: #47465c;
        color: #fff;
    }
    textarea{
        background: #47465c;
        color: #fff;
    }
    p{
        color: #fff;
    }
    h1, h2, h3, h4, h5, h6{
        color: #fff;
    }
}*/

@media (max-width: 1200px){
    .container{
        width: 60rem;
        height: 35rem;
        transition: 0.3s ease;
    }
    img{
        width: 450px;
        height: auto;
        transition: 0.3s ease;
    }
    input{
        width: 13rem;
        transition: 0.3s ease;
    }
    textarea{
        width: 26.8rem;
        transition: 0.3s ease;
    }
    .email{
        width: 26.8rem;
        transition: 0.3s ease;
    }
    .nameoncard{
        width: 26.8rem;
        transition: 0.3s ease;
    }
    .card{
        width: 18rem;
        transition: 0.3s ease;
    }
    .pay-btn{
        width: 26.8rem;
        transition: 0.3s ease;
    }
}

@media (max-width: 990px){
    .container{
        width: 50rem;
        height: 35rem;
        transition: 0.3s ease;
    }
    img{
        width: 400px;
        height: auto;
        transition: 0.3s ease;
    }
    input{
        width: 11rem;
        transition: 0.3s ease;
    }
    textarea{
        width: 22.8rem;
        transition: 0.3s ease;
    }
    .email{
        width: 22.8rem;
        transition: 0.3s ease;
    }
    .nameoncard{
        width: 22.8rem;
        transition: 0.3s ease;
    }
    .card{
        width: 14rem;
        transition: 0.3s ease;
    }
    .pay-btn{
        width: 22.8rem;
        transition: 0.3s ease;
    }
}
@media (max-width: 892px){
    .container{
        width: 45rem;
        height: 35rem;
        transition: 0.3s ease;
    }
    img{
        width: 350px;
        height: auto;
        transition: 0.3s ease;
    }
    input{
        width: 9rem;
        transition: 0.3s ease;
    }
    textarea{
        width: 18.7rem;
        transition: 0.3s ease;
    }
    .email{
        width: 18.7rem;
        transition: 0.3s ease;
    }
    .nameoncard{
        width: 18.7rem;
        transition: 0.3s ease;
    }
    .card{
        width: 12rem;
        transition: 0.3s ease;
    }
    .cvv{
        width: 6rem;
        transition: 0.3s ease;
    }
    .pay-btn{
        width: 18.7rem;
        transition: 0.3s ease;
    }
}

@media (max-width: 775px){
    .container{
        width: 40rem;
        transition: 0.3s ease;
    }
    .wrapper{
        column-gap: 0.5rem;
        transition: 0.3s ease;
    }
    img{
        width: 300px;
        height: auto;
        transition: 0.3s ease;
    }
}

@media (max-width: 660px){
    .container{
        width: 30rem;
        transition: 0.3s ease;
    }
    .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;
        position: fixed;
        margin-top: 500%;
        left: 20%;
        transition: 0.3 ease;
    }
    h1{
        left: 25%;
        transition: 0.3s ease;
    }
    img{
        display: none;
/*        top: 10%;
        left: 20%;
        height: auto;
        width: 300px;*/
    }
}
@media (max-width: 500px){
    .container{
        width: 25rem;
        transition: 0.3s ease;
    }
    h1{
        left: 20%;
        transition: 0.3s ease;
    }
    form{
        position: fixed;
        left: 12%;
        transition: 0.3s ease;
    }
}
@media (max-width: 480px){
    .container{
        width: 22rem;
        transition: 0.3s ease;
    }
    h1{
        font-size: 1.5rem;
        left: 18%;
        transition: 0.3s ease;
    }
    form{
        position: fixed;
        left: 8%;
        transition: 0.3s ease;
    }
}
@media (max-width: 380px){
    .container{
        width: 20rem;
        transition: 0.3s ease;
    }
    h1{
        left: 16%;
        transition: 0.3s ease;
    }
/*    form{
        position: fixed;
        left: 8%;
    }*/
    .firstname{
        width: 17rem;
        transition: 0.3s ease;
    }
    .lastname{
        width: 17rem;
        margin-bottom: 1rem;
        transition: 0.3s ease;
    }
    .email{
        width: 17rem;
        transition: 0.3s ease;
    }
    .address{
        width: 17rem;
        transition: 0.3s ease;
    }
    .nameoncard{
        width: 17rem;
        transition: 0.3s ease;
    }
    .card{
        width: 10.5rem;
        transition: 0.3s ease;
    }
    .cvv{
        width: 5.8rem;
        transition: 0.3s ease;
    }
    .pay-btn{
        width: 17rem;
        transition: 0.3s ease;
    }
}
@media (max-width: 320px){
    .container{
        width: 16rem;
        height: 35rem;
        transition: 0.3s ease;
    }
    h1{
        font-size: 1.6rem;
        left: 12%;
        transition: 0.3s ease;
    }
    form{
        margin-top: -15%;
        transition: 0.3s ease;
    }
    .firstname{
        width: 13.6rem;
        transition: 0.3s ease;
    }
    .lastname{
        width: 13.6rem;
        margin-bottom: 1rem;
        transition: 0.3s ease;
    }
    .email{
        width: 13.6rem;
        transition: 0.3s ease;
    }
    .address{
        width: 13.6rem;
        transition: 0.3s ease;
    }
    .nameoncard{
        width: 13.6rem;
        transition: 0.3s ease;
    }
    .card{
        width: 13.6rem;
        margin-bottom: 1rem;
        transition: 0.3s ease;
    }
    .cvv{
        width: 5.8rem;
        transition: 0.3s ease;
    }
    .pay-btn{
        width: 13.6rem;
        transition: 0.3s ease;
    }
}